.topBarContainer {
  background-color: #2c787c;
  height: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.topBarLeft {
  flex: 3;
}
.topBarCenter {
  flex: 6;
}
.topBarIconsItems {
  display: flex;
  margin-top: 5px;
}
.topBarRight {
  justify-content: space-around;
  display: flex;;
  flex: 3;
  color: white;
}
.logo {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-left: 1rem;
}
.searchBar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.searchIcon {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 5px;
}
.searchInput:focus {
  outline: none;
}
.searchInput {
  width: 95%;
  border: none;
}
.topBarImg {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  object-fit: cover;
}
.topBarIcon {
  position: relative;
  cursor: pointer;
  margin-right: 15px;
}
.topBarIconBadge{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #db6ae9;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 0.1rem;
}